html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #51595D;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1520px;
    font-size: 1rem;
    line-height: 1.75em;
    padding: 0 6rem 0 6rem;
    margin: 0 auto;
}

/* Header */

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
    height: 5.6rem;
    background-color: #fff;
}

.header--inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
}

.fixed {
    position: fixed;
    z-index: 1000;
}

.logo {
    width: 20.6rem;
}

.nav-link {
    padding-right: 1.9rem;
    font-style: italic;
    color: #003E64;
}

.nav-link:hover {
    color: #C70048;
    cursor: pointer;
}

.button {
    color: #fff;
    font-style: italic;
    font-size: 1rem;
    background-color: #C70048;
    padding: .75em 4.6em;
    border-radius: .25rem;
    border: none;
    /* margin-right: 2.25rem; */
}

.button:hover {
    cursor: pointer;
}

/* Main */

.top-image {
    background: url('./image/topimage.png') no-repeat center;
    background-size: cover;
    display: block;
    max-width: 100%;
    height: 33.7rem;
}

.title {
    font-style: italic;
    font-size: 2.25rem;
    line-height: 3.6rem;
    color: #fff;
    width: 21.4rem;
    padding-top: 18rem;
}

/* About Us */ 

.clouds-image {
    background: url('./image/clouds.png') no-repeat;
    height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-flex {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 1.4rem;
    gap: 2.8rem;
}

.h2-title {
    font-style: italic;
    font-size: 2.2rem;
    color: #003E64;
    padding: 4.4rem 0 2.5rem 0;
}

.about-text {
    padding-bottom: 3rem;
    display: block;
    width: 37.8rem;
    padding-right: 3rem;
}

/* Hotels */

.flex-content {
    display: flex;
    flex-wrap: wrap;
}

.image {
    display: block;
    width: 50%;
    max-height: 41rem;
    height: auto;
}

.rectangle {
    display: flex;
    justify-content: center;
    background-color: #ABC5DC;
    width: 50%;
    height: 41rem;
    align-items: center;
}

.rectangle-animation {
    animation: wipe-enter 1s 1
  }

.line {
    content: "";
    background-color: #fff;
    width: 6.5rem;
    height: .12rem;
    margin: 7.8rem 0 7.8rem 7.8rem;
}

.opacity {
    background-color: rgba(192, 215, 235, 0.9);
    margin: 6rem 7.8rem 4.4rem -7.8rem;
    height: 25rem;
}

.pd {
    padding-left: 7.8rem;
    padding-right: 7.8rem;
}

.text {
    width: 30rem;
}

/* Sea and air cargo */

.text-white {
    color: #F2F3F4;
}

.rectangle--green {
    background-color: #43837E;
}

.opacity--green {
    background-color: rgba(112, 178, 173, 0.8);
    margin: 6rem -7.8rem 4.4rem 7.8rem;
    z-index: 1;
}

/* Air Cargo */

.rectangle--beige {
    background-color: #F4E8E4;
    align-items: flex-start;
}

.opacity--beige {
    background-color: rgba(253, 245, 242, 0.9);
    margin: 6rem 7.8rem 4.4rem -7.8rem;
    height: 45rem;
}

.pb {
    padding-bottom: 2rem;
}

.line--red {
    background-color: #C70048;
    margin: 3.1rem 0 4.3rem 7.8rem;
}

/* Footer */

.footer {
    margin: 8.8rem 0 6.25rem 0;
}

/* Modal */

.no-scroll {
    overflow: hidden;
}

.modal {
    display: none;
    width: 100%;
    height: 100%;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    background-color: rgba(171, 197, 220, 0.9);
    overflow: auto;
}

.modal--show {
    display: flex;
}

.modal--dialog {
    width: 100%;
    max-width: 40rem;
    height: auto;
    margin: auto;

    background-color: #fff;
    position: relative;

    transform: scale(0);
    transition: transform .2s linear;
}

.modal--close {
    position: absolute;
    top: .9rem;
    right: .9rem;
    z-index: 1;

    width: 34px;
    height: 34px;
    cursor: pointer;

    padding: 0;
    background: none;
    border: 0;

    transition: transform .2s linear;
}

.modal--close:hover {
    transform: rotate(90deg);
}

.modal--content {
    padding: 3rem;
}

.modal--title {
    color: #003E64;
    font-style: italic;
    font-size: 1.8rem;
}

.form {
    padding: 2.5rem 0;
}

.form--group {
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.7rem;
    background-color: #F2F6F8;
    padding: 1rem;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    margin-right: 3rem;
    box-sizing: border-box;
}

.form--icon {
    width: 1.5rem;
    margin-right: .6rem;
}

.input {
    font-size: 1.1rem;
    font-style: italic;
    color: #003E64;
    letter-spacing: 0.02em;
    background: transparent;
    border: none;
}

.form--button {
    background: #C2D5E6;
    border-radius: .25rem;
    border: none;
    color: #003E64;
    font-size: 1.5rem;
    font-style: italic;
    padding: .8rem 4.6rem;
}

.form--button.red {
    color: #fff;
    background-color: #C70048;
}

/*------------ media -------------*/

@media screen and (max-width: 1366px) {
    .container {
        max-width: 1320px;
    }

    html {
        font-size: 14px;
    }

    .top-image {
        height: 32.8rem;
    }

    .title {
        width: 22rem;
        padding-top: 20rem;
    }

    .header {
        height: 5rem;
    }

    .logo {
        width: 15.6rem;
        height: 2.8rem;
    }

    .h2-title {
        padding: 4.2rem 0 2.1rem 0;
    }

    .about-flex {
        gap: 1.2rem;
    }

    .about-text {
        width: 33rem;
    }

    .pd {
        padding-left: 7.5rem;
        padding-right: 7.5rem;
    }

    .footer {
        margin: 3.2rem 0 4.4rem 0;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 1000px;
        padding: 0 2.25rem;
    }

    .nav {
        display: flex;
        align-items: center;
    }

    .nav-link {
        padding-right: 1.7rem;
    }

    .nav-link:first-child {
        padding-left: 1.7rem;
    }


    .about-flex {
        gap: 1rem;
    }

    .about-text {
        width: 20rem;
    }

    .footer {
        margin: 6.8rem 0 4.4rem 0;
        width: 19rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 740px;
    }

    .nav {
        display: none;
    }

    /* .button {
        margin-right: 2.5rem;
    } */

    .title {
        display: none;
    }

  
    .top-image {
        height: 21.3rem;
    }


    .h2-title {
        padding: 2.2rem 0 2.1rem 0;
    }

    .about-text {
        width: 100%;
        padding-right: 2.25rem;
        padding-bottom: 1rem;
    }

    .about-flex {
        padding-bottom: 3.5rem;
        gap: 0;
    }

    .image {
        width: 100%;
        max-height: 40rem;
    }
    
    .rectangle {
        width: 100%;
        height: 21rem;
        position: relative;
    }

    .pd {
        padding-left: 1.4rem;
        padding-right: 4.2rem;
    }

    .text {
        width: 29rem;
    }

    .opacity {
        background-color: rgba(192, 215, 235, 0.9);
        margin: 0 .2rem  -15.2rem 0;
        height: 21rem;
        position: absolute;
        top: -2rem;
        left: 0;
        z-index: 1;
    }

    .line {
        margin: 6rem 0 7.8rem 4rem;
    }

    .opacity--green {
        background-color: rgba(112, 178, 173, 0.8);
        margin: 0 .2rem 4.4rem 0;
        height: 21rem;
        position: absolute;
        top: -2rem;
        left: 0;
    }

    .flex-content.reverse {
        flex-direction: column-reverse;
    }

    .opacity--beige {
        background-color: rgba(253, 245, 242, 0.9);
        margin: -2rem .2rem 4.4rem 0;
        height: 44rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .line--red {
        margin: 3.1rem 0 .3rem 7.8rem;
    }

    .footer {
        margin: 25rem 0 3.5rem 0;
        width: 20rem;
    }
}


@media screen and (max-width: 480px) {
    .container {
        max-width: 460px;
        padding: 0;
    }

    .about-flex {
        padding-left: 2.25rem;
    }

    .logo {
        width: 11.7rem;
        /* padding-left: 2.25rem; */
    }

    .button {
        padding: .35em 1.3em;
    }

    .h2-title.first {
        padding-left: 2.25rem;
    }

    .top-image {
        height: 13.3rem;
    }

    .h2-title {
        font-size: 1.7rem;
    }

    .text {
        width: 21rem;
    }

    .line {
        margin: 3rem 0 7.8rem 1.4rem;
    }

    .rectangle--beige {
        height: 52rem;
    }

    .opacity--beige {
        background-color: rgba(253, 245, 242, 0.9);
        margin: -2rem .2rem 4.4rem 0;
        height: 52rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer {
        margin: 3.5rem 0 3.5rem 0;
        width: 20rem;
        padding-left: 2.25rem;
    }

}

@media screen and (max-width: 340px) {
    .container {
        max-width: 300px;
    }

    .logo {
        width: 9rem;
        height: 2rem;
        padding-left: 1rem;
    }

    /* .button {
        margin-right: 1rem;
    } */

    .top-image {
        height: 8.9rem;
    }
}

/* Animation */

  @keyframes wipe-enter {
    0% {
      transform: scale(0, .015)
    }
    50% {
      transform: scale(1, .015)
    }
  }
  .rectangle-animation {
    animation: wipe-enter 1.3s 1
  }
