html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #51595D;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1520px;
    font-size: 1rem;
    line-height: 1.75em;
    padding: 0 1.25rem;
    margin: 0 auto;
}

/* Header */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background-color: #fff;
    /* position: static; */
}

.nav-link {
    padding-right: 1.9rem;
    font-style: italic;
    color: #003E64;
}

.nav-link:hover {
    color: #C70048;
    cursor: pointer;
}

.button {
    color: #fff;
    font-style: italic;
    font-size: 1rem;
    background-color: #C70048;
    padding: .75em 4.6em;
    border-radius: .25rem;
    border: none;
}

.button:hover {
    cursor: pointer;
}

/* Main */

.top-image {
    background: url('./image/topimage.png');
    width: 100%;
    height: 33.7rem;
}

.title {
    font-style: italic;
    font-size: 2.25rem;
    line-height: 3.6rem;
    color: #fff;
    width: 21.4rem;
    padding-top: 18rem;
}

/* About Us */ 

.clouds-image {
    background: url('./image/clouds.png');
    width: 100%;
    height: auto;
}

.about-flex {
    display: flex;
    padding-bottom: 1.4rem;
    gap: 2.8rem;
}

.h2-title {
    font-style: italic;
    font-size: 2.2rem;
    color: #003E64;
    padding: 4.4rem 0 2.5rem 0;
}

.about-text {
    padding-bottom: 3rem;
    width: 37.8rem;
}

/* Hotels */

.flex-content {
    display: flex;
}

.image {
    width: 100%;
    max-width: 740px;
    height: 650px;
}

.rectangle {
    display: flex;
    justify-content: center;
    background-color: #ABC5DC;
    width: 100%;
    max-width: 740px;
    height: 650px;
    align-items: center;
}

.line {
    content: "";
    background-color: #fff;
    width: 6.5rem;
    height: .12rem;
    margin: 7.8rem 0 7.8rem 7.8rem;
}

.opacity {
    background-color: rgba(192, 215, 235, 0.9);
    margin: 6rem 7.8rem 4.4rem -7.8rem;
    height: 400px;
}

.pd {
    padding-left: 7.8rem;
    padding-right: 7.8rem;
}

.text {
    width: 30rem;
}

/* Sea and air cargo */

.text-white {
    color: #F2F3F4;
}

.rectangle--green {
    background-color: #43837E;
}

.opacity--green {
    background-color: rgba(112, 178, 173, 0.8);
    margin: 6rem -7.8rem 4.4rem 7.8rem;
    z-index: 1;
}

/* Air Cargo */

.rectangle--beige {
    background-color: #F4E8E4;
    align-items: flex-start;
}

.opacity--beige {
    background-color: rgba(253, 245, 242, 0.9);
    margin: 6rem 7.8rem 4.4rem -7.8rem;
    height: 45rem;
}

.pb {
    padding-bottom: 2rem;
}

.line--red {
    background-color: #C70048;
    margin: 3.1rem 0 4.3rem 7.8rem;
}

/* Footer */

.footer {
    margin: 8.8rem 0 6.25rem 0;
}